<?xml version="1.0" encoding="utf-8"?>
<LinearLayout
    xmlns:android="http://schemas.android.com/apk/res/android"

    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:layout_margin="8dp"
    android:orientation="vertical">
<!--<CheckBox
    android:id="@+id/location_check"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:checked="true"
    android:text="@string/grid"/>-->

<LinearLayout
android:layout_width="match_parent"
android:layout_height="wrap_content"
android:layout_marginLeft="16dp"
android:layout_marginStart="16dp"
android:orientation="horizontal">

<CheckBox
    android:id="@+id/col_check"
    android:layout_width="wrap_content"
    android:layout_height="wrap_content"
    android:checked="true"
    android:text="@string/location_col"/>

<EditText
    android:id="@+id/col_et"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:inputType="number"
    android:gravity="end"
    android:text="@string/_0"/>
</LinearLayout>

<LinearLayout
android:layout_width="match_parent"
android:layout_height="wrap_content"
android:layout_marginLeft="16dp"
android:layout_marginStart="16dp"
android:orientation="horizontal">

<CheckBox
    android:id="@+id/row_check"
    android:layout_width="wrap_content"
    android:layout_height="wrap_content"
    android:checked="true"
    android:text="@string/location_row"/>

<EditText
    android:id="@+id/row_et"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:inputType="number"
    android:gravity="end"
    android:text="@string/_0"/>
</LinearLayout>

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginLeft="16dp"
        android:layout_marginStart="16dp"
        android:orientation="horizontal">

        <CheckBox
            android:id="@+id/level_check"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="@string/location_level"/>

        <EditText
            android:id="@+id/level_et"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:inputType="number"
            android:gravity="end"
            android:text="@string/_0"/>
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginLeft="16dp"
        android:layout_marginStart="16dp"
        android:orientation="horizontal">

        <CheckBox
            android:id="@+id/colspan_check"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="@string/location_colspan"/>

        <EditText
            android:id="@+id/colspan_et"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
			android:inputType="number"
            android:gravity="end"
            android:text="@string/_1"/>
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginLeft="16dp"
        android:layout_marginStart="16dp"
        android:orientation="horizontal">

        <CheckBox
            android:id="@+id/rowspan_check"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="@string/location_rowspan"/>

        <EditText
            android:id="@+id/rowspan_et"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
		    android:inputType="number"
            android:gravity="end"
            android:text="@string/_1"/>
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginLeft="16dp"
        android:layout_marginStart="16dp"
        android:orientation="horizontal">

        <CheckBox
            android:id="@+id/levelspan_check"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="@string/location_levelspan"/>

        <EditText
            android:id="@+id/levelspan_et"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:inputType="number"
            android:gravity="end"
            android:text="@string/_1"/>
    </LinearLayout>
   <!-- <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content">

        <Button
            android:id="@+id/location_cancel"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_weight="1"
            android:text="@string/cancel"/>

        <Button
            android:id="@+id/location_ok"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_weight="1"
            android:text="@string/ok"/>

    </LinearLayout>-->
</LinearLayout>

