<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:orientation="vertical"
        android:paddingLeft="16dp">
        <CheckBox
            android:id="@+id/bc_on_exit_application_app_id_check"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="@string/app_id" />
        <RadioGroup
            android:id="@+id/bc_on_exit_application_app_id_manual_radioGroup"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:orientation="vertical"
            android:paddingLeft="16dp">
            <RadioButton
                android:id="@+id/bc_on_exit_application_app_id_manual"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:checked="true"
                android:text="@string/manual" />
            <EditText
                android:id="@+id/bc_on_exit_application_app_id_et"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:freezesText="true"
                android:inputType="number"
                android:visibility="visible" />
            <RadioButton
                android:id="@+id/bc_on_exit_application_app_id_registered_apps"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="@string/registered_apps" />
            <Spinner
                android:id="@+id/bc_on_exit_application_app_id_spinner"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginBottom="16dp" />
        </RadioGroup>
        <CheckBox
            android:id="@+id/bc_on_exit_application_app_exit_reason_cb"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="@string/app_exit_reason" />
        <Spinner
            android:id="@+id/bc_on_exit_application_app_exit_reason"
            android:layout_width="match_parent"
            android:layout_height="wrap_content" />
    </LinearLayout>
</ScrollView>